@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
	display: block;
	margin: 0;
	height: 100vh;
	font-family: "Open Sans", sans-serif;
}

#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: antiquewhite;
	padding: 0 40px;
}

#nav h1{
	color: rgb(71, 71, 182);
	font-style: 'Lobster', cursive;
	font-size:1.8rem;
	font-family: "Roboto", sans-serif;
}

#menu{
	display: flex;
	width: 25%;
	justify-content: space-between;
	font-size:1.5rem;
	font-weight: bold;
}

#menu p {
	cursor: pointer;
}

.container {
	height: 100%;
	margin: 20px auto 400px auto;
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.container h2 {
	font-size:3rem;
	color: white;
	background-color: black;
	padding: 5px 25px;
	border-radius: 5px;
}

.change-color {
	font-size:1.5rem;
	margin: auto;
	padding: 0.5rem 2rem;
	border-radius: 5px;
}

.container h2 span {
	color: rgb(197, 197, 244);
}

main {
	background-color: #f1f5f8 ;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	background: transparent;
	border: solid 2px;
}

button:hover{
	cursor: pointer;
	background-color: black ;
	color: #f1f5f8 ;
	border-color:  black ;
}